:root {
  /* color */
  --color-black: #1d1d1f;
  --color-white: #FFFFFF;
  --color-gray-1: #f5f7f9;
  --color-gray-2: #d0d7de;
  --color-gray-3: #afb8c1;
  --color-gray-4: #8c959f;
  --color-gray-5: #6e7781;
  --color-gray-6: #57606a;
  --color-gray-7: #24292F;
  --color-blue: #023F56;

  /* font-size */
  --font-xlarge: 3rem;
  --font-large: 2.5rem;
  --font-medium: 1.5rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;
}

/* ThinSidebar */
.thinSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
  padding: 40px 15px;
  /* 라이트모드 색상 변경 */
  background-color: var(--color-gray-1);
  border-right: 1px solid #B0C4DE;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
}


.thinIconBox {
  display: flex;
  flex-direction: column;
  /* 아이콘간 거리 조정 */
  gap: 35px;
}

.thinIcon {
  padding: 8px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 3px 3px 10px var(--color-gray-2);
  cursor: pointer;
}

.thinSelectedIcon {
  background-color: var(--color-gray-3);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 17px;
  z-index: 500;
  background-color: var(--color-gray-1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #B0C4DE;
}

.navLogoBox {
  display: flex;
  align-items: center;
}

.navIcon {
  cursor: pointer;
}

.navSettingModal {
  position: absolute;
  top: 55px;
  right: 110px;
  padding: 20px;
  width: 400px;
  background-color: var(--color-gray-1);
  border: 1px solid var(--color-gray-3);
  border-radius: 8px;
  text-align: left;
  z-index: 100;
}

/* LeftSidebar */
.leftSidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  z-index: 30;
}

.leftLogoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.leftLogo {
  margin-left: 20px;
  color: var(--color-blue);
  font-size: 28px;
  font-weight: bold;
}

.leftIcon {
  margin-left: 450px;
  margin-top: 40px;
  cursor: pointer;
}

/* rightSidebar */
.rightSidebar {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  width: 400px;
  background-color: var(--color-gray-1);
  z-index: 30;
}

.rightLogoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightLogo {
  margin-left: 20px;
  color: var(--color-blue);
  font-size: 21px;
  font-weight: bold;
}

.rightIcon {
  margin-right: 15px;
  cursor: pointer;
}

/* chat */
.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid var(--color-gray-3);
  border-radius: 2px;
  margin: 10px 20px 20px 20px;
  height: 75vh;
  overflow-y: auto;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}