@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';
@import './common.css';

:root {
  background-color: var(--color-gray-1);
  color: var(--color-black);
}
.darkMode {
  background-color: var(--color-gray-7);
  color: var(--color-white);
}
.darkMode .navbar {
  background-color: var(--color-gray-7);
}
.darkMode .thinIcon,
.darkMode .navSettingModal {
  box-shadow: none;
}
.darkMode .card {
  box-shadow: none !important;
  color: var(--color-gray-7);
}
.darkMode .card2 {
  box-shadow: none !important;
  color: var(--color-gray-7);
}
.darkMode .leftLogo {
  color: var(--color-gray-1);
}
.darkMode .rightLogo {
  color: var(--color-gray-1);
}
.darkMode .navSettingModal {
  color: var(--color-gray-7);
}

/* card */
.card {
  margin: 20px 20px 20px 0;
  padding: 10px;
  background-color: var(--color-white);
  box-shadow: 3px 3px 10px var(--color-gray-2);
  border-radius: 8px;
}
.card2 {
  margin: 20px 20px 20px 0;
  padding: 10px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-2);
  border-radius: 8px;
}
.cardTitle {
  margin-bottom: 20px;
  padding: 0 5px;
  font-size: large;
  font-weight: bold;
}
.cardContent {
  padding: 0 5px;
}

/* tab */
.tabList {
  display: flex;
}
.tab {
  margin-right:1px;
  padding: 5px;
  border: 1px solid var(--color-gray-3);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}
.tabActive {
  background-color: var(--color-blue);
  color: var(--color-gray-1);
}
.tabContentBox {
  padding: 10px;
  border: 1px solid var(--color-gray-3);
}

.btnBox {
  margin: 20px auto 10px;
  width: fit-content; 
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  border-radius: 8px;
}
.btn:hover {
  transform: scale(1.1);
}

/* select */
.select {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 7px 10px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-2);
  color: var(--color-gray-7);
}
.select:focus {
  outline: none;
}

/* input */
.input {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-2);
  color: var(--color-gray-7);
}
.input:focus {
  outline: none;
}

/* scroll */
@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--color-blue);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-gray-3);
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-gray-2)
  }
}